.ice-cream {
  &-item {
    padding: $gap * 2;

    &-description {
      text-align: center;

      &__title {
        padding-top: $gap;
        text-transform: uppercase;
        font-weight: 700;
      }

      &__text {
        font-family: "Pattaya", sans-serif;
        color: $grey;
      }
    }
    &__img {
      @media (max-width: 575.8px) {
       padding: 0 $gap *3;
        
      }
    }
  }
}
