body {
  font-family: "Roboto Condensed", sans-serif;
  position: relative;
  top: 0;
  right: 0;
  left: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: block;
}

.header-logo {
  padding: 120px 0 100px;
  text-align: center;
  background-color: #200909;
  background-image: url(../img/bg.jpg);
  background-position: 50% 50%;
  background-size: cover;
}

.ice-cream-item {
  padding: 40px;
}

.ice-cream-item-description {
  text-align: center;
}

.ice-cream-item-description__title {
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.ice-cream-item-description__text {
  font-family: "Pattaya", sans-serif;
  color: #575656;
}

@media (max-width: 575.8px) {
  .header-logo__img {
    width: 280px;
    height: 100px;
  }
  .navbar-right {
    width: 280px;
    height: 100px;
    display: none;
  }
  .ice-cream-item__img {
    padding: 0 60px;
  }
}
